@import '../../../../src/styles/mixins/dark-mode.scss';

.form {
  &__row {
    margin-bottom: 1rem;
  }

  &__label {
    display: inline-block;
    margin-bottom: 0.25rem;
    font-weight: bold;
  }

  &__control {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    display: block;
    padding: 0.5rem 0.75rem;
    background: none;
    border: 1px solid #333;

    &::placeholder {
      color: #575757;
      opacity: 1;
    }

    @include dark-mode() {
      border-color: #5E5E5E;

      &::placeholder {
        color: #A6A6A6;
      }
    }

    &--invalid {
      border-color: #B30000;

      @include dark-mode() {
        border-color: #FF8080;
      }
    }
  }

  &__help,
  &__error {
    display: block;
    margin-top: 0.25rem;
  }

  &__help {
    color: #666666;

    @include dark-mode() {
      color: #A6A6A6;
    }
  }

  &__error {
    color: #B30000;

    @include dark-mode() {
      color: #FF8080;
    }
  }

  &__btn {
    padding: 0.5rem;
    cursor: pointer;
  }
}

.message {
  padding: 0.75rem 1rem;

  &--success {
    color: #75b798;
    border: 1px solid #0f5132;
    background: #051b11;
  }

  &--error {
    color: #ea868f;
    border: 1px solid #842029;
    background: #2c0b0e;
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

* {
  box-sizing: border-box;
}
