// Default element styling

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:target {
  background: var(--ifm-color-yellow);
  box-shadow: 0 0 0 2px var(--ifm-color-yellow);

  @include dark-mode() {
    color: var(--ifm-color-darkgrey);
  }
}

img {
  display: block;
  height: auto;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
}

a {
  &:hover {
    @include dark-mode() {
      color: var(--ifm-color-theme);
    }
  }
}

a,
button,
details {
  outline-offset: 6px;
  transition-property: background, outline-offset !important;
  transition-duration: .5s !important;

  &:focus-within {
    outline: 2px solid var(--ifm-color-focus);
    outline-offset: 2px;
  }
}

summary {
  &:focus {
    outline: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: calc(var(--ifm-alert-padding-horizontal) * -1);
    top: calc(var(--ifm-alert-padding-vertical) * -1);
    right: 0;
    bottom: 0;
    width: calc(100% + var(--ifm-alert-padding-horizontal) * 2);
    height: calc(100% + var(--ifm-alert-padding-vertical) * 2);
    z-index: 0;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
.h1 {
  font-size: var(--ifm-h1-font-size);
  margin-bottom: calc(var(--ifm-h1-font-size) / 2);
}

h2,
.h2 {
  font-size: var(--ifm-h2-font-size);
  margin-bottom: calc(var(--ifm-h2-font-size) / 2);
}

h3,
.h3 {
  font-size: var(--ifm-h3-font-size);
  margin-bottom: calc(var(--ifm-h3-font-size) / 2);
}

h4,
.h4 {
  font-size: var(--ifm-h4-font-size);
  margin-bottom: calc(var(--ifm-h4-font-size) / 2);
}

h5,
.h5 {
  font-size: var(--ifm-h5-font-size);
  margin-bottom: calc(var(--ifm-h5-font-size) / 2);
}

h6,
.h6 {
  font-size: var(--ifm-h6-font-size);
  margin-bottom: calc(var(--ifm-h6-font-size) / 2);
}

dt {
  font-weight: bold;
}
