// Main SCSS file used just to import all other SCSS files in a correct order

// Fonts
// roboto-regular - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
}
// roboto-italic - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/roboto-v30-latin-italic.woff2') format('woff2'),
}
// roboto-500 - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/roboto-v30-latin-500.woff2') format('woff2'),
}
// roboto-500italic - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/roboto-v30-latin-500italic.woff2') format('woff2'),
}
// roboto-700 - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v30-latin-700.woff2') format('woff2'),
}
// roboto-700italic - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
}
// roboto-900 - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/roboto-v30-latin-900.woff2') format('woff2'),
}
// roboto-900italic - latin
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/roboto-v30-latin-900italic.woff2') format('woff2'),
}

// Functions
@import './functions/rem';

// Mixins
@import './mixins/breakpoints.scss';
@import './mixins/dark-mode.scss';

// Variables
@import './variables';

// Overrides
@import './infima-overrides';

// Base styles
@import './base';

// Components
@import '../components/Button/';
@import '../components/Hero/';
@import '../components/PreviewWrapper/';
@import '../components/Section/';
