@import '../../../src/styles/mixins/dark-mode.scss';

.tabs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    padding: 1rem;

    &--active {
      color: #0000b4;
      border-bottom: 1px solid #e6e6e6;

      @include dark-mode() {
        color: #89c09b;
        border-bottom-color: #515151;
      }
    }
  }

  &__panel {
    position: absolute;
    overflow: hidden;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    max-height: 100px;

    &--active {
      opacity: 1;
      position: static;
    }

    a {
      color: #0000b4;
      text-decoration: none;

      @include dark-mode() {
        color: #89c09b;
      }
    }
  }

  &__panel-container {
    border: 2px solid black;
    padding: 2rem;

    @include dark-mode() {
      border-color: white;
    }
  }
}
