[data-color-mode="light"] {
  --color-text: #2e2d2c;
  --color-bg: #fff;
  --color-control-1: #f0f0f0;
  --color-control-2: #bfbfbf;
  --color-focus: #1459db;
  --color-surface: #d3e4ff;
  --color-outline: rgba(0,0,0,.5);
}

[data-color-mode="dark"] {
  --color-text: #f6f6f6;
  --color-bg: #2e2d2c;
  --color-control-1: #535353;
  --color-control-2: #2e2d2c;
  --color-focus: #75a5ff;
  --color-surface: #475264;
  --color-outline: rgba(255,255,255,.5);
}

*:focus-visible {
  outline: 4px solid var(--color-focus);
  outline-offset: 2px;
}

.html {
  padding: 2rem;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.color-mode-switcher {
  position: relative;
  flex-direction: column;
  display: inline-flex;
  background-color: var(--color-control-1);
  border-radius: 2rem;
  padding: .4rem;

  &__toggle-wrapper {
    outline: 1px solid transparent;
    display: inline-flex;
    border-radius: 50%;
  }

  &__toggle,
  &__button {
    display: block;
    background: transparent;
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    cursor: pointer;
    color: var(--color-text);

    &:hover {
      background: var(--color-control-2);
    }

    &:focus-visible {
      background: var(--color-control-2);
    }

    svg {
      fill: currentColor;
      width: 100%;
      height: 100%;
    }
  }

  &__button--selected {
    background: var(--color-control-2);
  }

  &__toggle {
    &--expanded {
      background: var(--color-control-2);
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-control-1);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: .4rem;
    border-radius: 2rem;
    outline: 2px solid var(--color-outline);
  }
}

.callout {
  padding: .5rem 2rem;
  border-radius: 2rem;
  background: var(--color-surface);
  outline: 1px solid transparent;
}

.btn {
  margin: 1rem 0;
  border: 2px solid transparent;
  padding: .8rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2rem;
  background: var(--color-text);
  color: var(--color-bg);
  cursor: pointer;

  &:hover {
    background: var(--color-focus);
  }
}

.sample-icon {
  display: flex;
  align-items: center;
  gap: .5rem;

  svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }
}
