@import '../../../../src/styles/mixins/dark-mode.scss';

.a-checkbox {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: .2rem;
    border: 1px solid transparent;
    outline-offset: 4px;
    transition: outline-offset .5s;

    &:hover {
      border-color: black;
      background: #ebebff;

      @include dark-mode() {
        border-color: white;
        background: #33363b;
      }
    }

    &:focus-within {
      outline: .125rem solid black;
      outline-offset: 0px;

      @include dark-mode() {
        outline-color: white;
      }
    }
  }

  &__box {
    display: flex;
    border: 1px solid black;
    width: 1.125rem;
    height: 1.125rem;
    padding: 1px;
    margin-right: .625rem;

    @include dark-mode() {
      border-color: white;
    }

    svg {
      display: none;
      fill: currentColor;

      @at-root .a-checkbox:checked + & {
        display: block;
      }
    }
  }
}

.a-field {
  display: flex;
}